{% extends 'base.html' %}
{%block meta_description%}У рамках тижня було проведено ряд заходів під керівництвом викладачів даної комісії. Із понеділка свої...{%endblock%}
{%block meta_twitter_url%} http://cczborivcollegecc.pythonanywhere.com/news/1 {%endblock%}
{%block meta_twitter_title%}Тиждень циклової комісії комп'ютерних дисциплін - ЦК комп'ютерних дисциплін{%endblock%}
{%block meta_twitter_description%}У рамках тижня було проведено ряд заходів під керівництвом викладачів даної комісії.{%endblock%}
{%block meta_twitter_banner%} {{ url_for('static', filename='assets/news/1/Тиждень-циклової-КД.jpg')}} {%endblock%}
{%block meta_title%}Тиждень циклової комісії комп'ютерних дисциплін - ЦК комп'ютерних дисциплін{%endblock%}
{%block body%}
<div class="container my-3 px-5">
        <h2 class="fw-bold fs-2 mb-1">Тиждень циклової комісії комп'ютерних дисциплін</h2>
        <p class="fst-italic">Квітень 3, 2023</p>
        <hr>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('static', filename='assets/news/1/Тиждень-циклової-КД.jpg')}}" target="_blank"><img class="img-fluid shadow rounded-2" src="{{ url_for('static', filename='assets/news/1/Тиждень-циклової-КД.jpg')}}" loading="lazy"></a>
        </div>
        <div class="mt-4 fs-5">
            <p>У рамках тижня було проведено ряд заходів під керівництвом викладачів даної комісії.</p>
            
            <h2 class="fw-bolder fs-3">Понеділок</h2>
            <p>Із понеділка свої дизайнерські здібності та видавничу майстерність продемонстрували друкованою продукцією студенти-програмісти кожного курсу (під керівництвом Беша Б.З., Мунтян С.О., Боднар Л. В. та Липак Г.І.). Виготовлені ними інформаційні стенди висвітлювали цікавинки певної сфери інформаційних технологій та показали їх вправність та здатність виконувати поставленні завдання як справжніх спеціалістів.</p>
            <p>Того ж дня для викладачів коледжу Ворона Г.П. провела тренінг-практикум <span class="fst-italic fw-bolder">«Візуалізація освітнього простору з використання платформи «МІЙ КЛАС»»</span>. Сервіс призначений для ефективної інтерактивної взаємодії викладача зі студентами, може значно спростити організацію роботи з навчальним матеріалом, перевіркою засвоєних знань.</p>
            
            <h2 class="fw-bolder fs-3">Вівторок</h2>
            <p>У вівторок відбувся квест на тему <span class="fst-italic fw-bolder">«Машина повинна працювати. Людина – думати»</span>. Завзята боротьба та вправність володіння азами роботи за персональним комп’ютером принесли команді ІІІ курсу «Технокульт» перше місце, другу сходинку виборола команда ІІ курсу (група 21ІПЗ) «Олімп», третє місце зайняла команда І курсу «Слов’янські рептослави».</p>
            <p class="fst-italic">Захід підгтовуали Мунтян С.О. та Боднар Л. В.</p>

            <h2 class="fw-bolder fs-3">Середа</h2>
            <p>Середа була присвячена науковій студентській конференції <span class="fst-italic fw-bolder">«Сучасні тенденції розвитку інформаційних технологій»</span>. Студенти-доповідачі під керівництвом Липак Г.І., Оробчук О.Р., Беша Б.З., Боднар Л.В. зробили аналіз та огляд сучасних новітніх концепцій розвитку кіберпростору, штучного інтелекту з використанням нейронних мереж, за допомогою якого можна вести спілкування, творити мистецтво, слідкувати за здоров’ям, здійснювати захист інформації.</p>
            
            <h2 class="fw-bolder fs-3">Четвер</h2>
            <p>Четвер розпочався інформаційною годиною <span class="fst-italic fw-bolder">«Інформаційна війна»</span>, під час якої було розглянуто основні загрози дезінформації та медійної неграмотності.</p>
            <p class="fst-italic">Захід готували Беш Б.З. та Лещишин С.Р.</p>
            <p>Також викладачі циклової комісії Оробчук О.Р. та Липак Г.І. провели профорієнтаційну екскурсію в м. Тернопіль. Першою локацією був <a href="https://tntu.edu.ua/" target="_blank" class="link-primary">Тернопільський національний технічний університет імені Івана Пулюя</a>, де студенти ІІ-ІV курсів відвідали кафедри комп’ютерних наук та кібербезпеки. Друга локація, яку відвідали студенти-програмісти коледжу – провідна українська IT-компанія <a href="https://eleks.com/ua/" target="_blank" class="link-primary">ELEKS</a>, яка надає послуги з розробки програмних продуктів, консультування та забезпечення контролю якості. Тут екскурсантам розповіли про розвиток і діяльність фірми, напрямки діяльності, скерували майбутніх спеціалістів у напрямках свого професійного розвитку та виходу на ринок праці. Студенти у невимушеній і по домашньому щирій бесіді із спеціалістами компанії отримали вичерпні відповіді на поставлені запитання.</p>
            <p>В останній день було підведено підсумки тижня комп’ютерних дисциплін. Кожен член циклової комісії провів аналіз виконаної ними роботи та загалом визнали застосовані впродовж тижня форми роботи доцільними та ефективними для розвитку майбутніх ІТ-спеціалістів.</p>
        </div>
</div>
{%endblock%}