{% extends 'base.html' %}

{%block meta_description%}Сторінку не знайдено{%endblock%}
{%block meta_twitter_url%}http://cczborivcollegecc.pythonanywhere.com/{%endblock%}
{%block meta_twitter_title%}Сторінку не знайдено{%endblock%}
{%block meta_twitter_description%}Сторінку не знайдено{%endblock%}
{%block meta_twitter_banner%}{{ url_for('static', filename='assets/cover-hero.jpg')}}{%endblock%}
{%block meta_title%}Сторінку не знайдено{%endblock%}
{%block body%}
<main class="container">
    <div class="text-center">
        <span class="fs-4">Сторінку не знайдено</span>
    </div>
</main>
{%endblock%}