{% extends 'base.html' %}
{%block meta_description%}Сталася помилка зі сторони сервера{%endblock%}
{%block meta_twitter_url%}http://cczborivcollegecc.pythonanywhere.com/{%endblock%}
{%block meta_twitter_title%}Сталася помилка зі сторони сервера{%endblock%}
{%block meta_twitter_description%}Сталася помилка зі сторони сервера{%endblock%}
{%block meta_twitter_banner%}{{ url_for('static', filename='assets/cover-hero.jpg')}}{%endblock%}
{%block meta_title%}Сталася помилка зі сторони сервера{%endblock%}
{%block body%}
<main class="container">
    <div class="text-center">
        <span class="fs-4">Сталася помилка зі сторони сервера</span>
    </div>
</main>
{%endblock%}