<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="index,follow">
	<meta name="theme-color" content="#fcc203">
	<meta name="description" content="{%block meta_description%}{%endblock%}">
	<meta name="twitter:url" content="{%block meta_twitter_url%}{%endblock%}">
	<meta name="twitter:title" content="{%block meta_twitter_title%}{%endblock%}">
	<meta name="twitter:description" content="{%block meta_twitter_description%}{%endblock%}">
	<meta name="twitter:image" content="{%block meta_twitter_banner%}{%endblock%}">
	<link rel="shortcut icon" href="{{ url_for( 'static', filename='assets/college-logo.png')}}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css')}}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/btt.js')}}"></script>
	<title>{%block meta_title%}{%endblock%}</title>
</head>

<body style="height: 100%; width: 100%;">
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
		<div class="container-xxl">
			<a class="navbar-brand text-wrap" href="/"> <img src="{{ url_for( 'static', filename='assets/college-logo.png')}}" alt="Логотип коледжу" width="40" height="40"> ЦК комп'ютерної дисципліни </a>
			<div class="me-3 py-2 menu-con-divider"></div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" aria-current="page" href="/">Головна</a></li>
					<li class="nav-item"><a class="nav-link" href="/news">Новини</a></li>
					<li class="nav-item"><a class="nav-link" href="/composition">Склад комісії</a></li>
					<!--<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Тестові сторінки
            </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/wtf">WTF Form</a></li>
							<li><a class="dropdown-item" href="/user/add">Додати користувача</a></li>
						</ul>
					</li>-->
				</ul>
			</div>
		</div>
	</nav>
  {% block body %}{% endblock body %}
	<div onclick="scrollToTop()" class="scroll-top shadow" id='btn-top'><img src="{{ url_for('static', filename='assets/up.png')}}" class="img-top"></div>
	<div class="bg-body-tertiary shadow-sm d-flex justify-content-end">
		<footer class="py-3 my-4 container justify-content-end">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="/news" class="nav-link px-2 text-body-secondary">Новини комісії</a></li>
				<li class="nav-item"><a href="/composition" class="nav-link px-2 text-body-secondary">Склад комісії</a></li>
				<li class="nav-item"><a href="http://zboriv-college.info/" target="_blank  " class="nav-link px-2 text-body-secondary">Офіційний сайт Зборівського коледжу</a></li>
			</ul>
			<p class="text-center text-body-secondary">© 2021 - 2023 <a href="/copy" class="text-decoration-none text-dark">Всі права захищено</a>. Створено <a class="text-decoration-none text-dark" href="https://indimops.github.io/" target="_blank">Mops Storage</a></p>
		</footer>
	</div>
</body>

</html>