{% extends 'base.html' %} {%block meta_description%}Опис сторінки{%endblock%} {%block meta_twitter_url%}https://mops-storage.xyz{%endblock%} {%block meta_twitter_title%}Заголовок{%endblock%} {%block meta_twitter_description%}Опис сторінки{%endblock%} {%block meta_twitter_banner%}https://cdn.discordapp.com/attachments/788772787644399617/1088228290193543311/image.png{%endblock%} {%block meta_title%}Додати користувача - ЦК комп'ютерної дисципліни{%endblock%}
{%block body%}
<main class="container py-5" style="width: 90vh">

    {% for message in get_flashed_messages() %}
        <div class="alert {{ alert }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}

    <div class="shadow p-3 mb-4 rounded-3">
            <h1>Оновити користувача:</h1>
            <form action="/user/update/{{ update_name.id }}" method="POST" class="my-3">
                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label my-2") }}
                {{ form.name(class="form-control", value=update_name.name) }}
                <br>
                {{ form.email.label(class="form-label my-2") }}
                {{ form.email(class="form-control", value=update_name.email) }}
                <br>
                {{ form.favorite_color.label(class="form-label my-2") }}
                {{ form.favorite_color(class="form-control", value=update_name.favorite_color) }}

                {{ form.submit(class="btn btn-primary my-3") }}

                <a href="{{ url_for('delete_user', id=id)}}" class="btn btn-outline-danger mx-2"><i class="bi bi-trash"></i></a>
                
            </form>
            <a href="/user/add" class="btn btn-outline-primary rounded-3 shadow-sm">Назад</a>
        </div>
</main>
{%endblock%}