{% extends 'base.html' %} {%block meta_description%}Опис сторінки{%endblock%} {%block meta_twitter_url%}https://mops-storage.xyz{%endblock%} {%block meta_twitter_title%}Заголовок{%endblock%} {%block meta_twitter_description%}Опис сторінки{%endblock%} {%block meta_twitter_banner%}https://cdn.discordapp.com/attachments/788772787644399617/1088228290193543311/image.png{%endblock%} {%block meta_title%}Додати користувача - ЦК комп'ютерної дисципліни{%endblock%}
{%block body%}
<main class="container py-5" style="width: 90vh">
    <h1>Привіт {{ user_name|title }}</h1>
</main>
{%endblock%}